:root {
  --background: black;
  --text-color: rgb(226, 226, 226);
  --card-bg-color: rgb(53, 53, 53);
  --option-button-bg-color: rgb(100, 100, 100);
  --font-size: 500px;
}

[data-theme="light"] {
  --background: white;
  --text-color: rgb(26, 26, 26);
  --card-bg-color: rgb(230, 230, 230);
  --option-button-bg-color: rgb(200, 200, 200);
}

@media screen and (max-width: 500px) {
  :root {
    --font-size: 100vw;
  }
}

.App {
  padding-top: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background);
  height: calc(100vh - 40px);
  color: var(--text-color);
}

#char {
  font-size: var(--font-size);
  margin: 0px;
  line-height: var(--font-size);
}

#card {
  margin-bottom: 10px;
  background-color: var(--card-bg-color);
  min-width: 200px;
}

.btn-option {
  font-size: calc(10px + 5vmax);
  margin: 10px;
  padding-left: 2vw;
  padding-right: 2vw;
  background-color: var(--option-button-bg-color);
  color: var(--text-color);
  border: none;
}

#message {
  font-size: calc(10px + 1.5vmax);
}
