:root {
  --background: black;
  --text-color: rgb(226, 226, 226);
  --card-bg-color: rgb(53, 53, 53);
  --option-button-bg-color: rgb(100, 100, 100);
}

[data-theme='light'] {
  --background: white;
  --text-color: rgb(26, 26, 26);
  --card-bg-color: rgb(230, 230, 230);
  --option-button-bg-color: rgb(200, 200, 200);
}

.App {
  padding-top: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background);
  height: 100vh;
  color: var(--text-color);
}

#char {
  font-size: calc(100px + 20vmax);
  margin: 0px;
  line-height: calc(100px + 20vmax);
}

#card {  
  margin-bottom: 10px;
  background-color: var(--card-bg-color);
  min-width: 200px;
}

.btn-option {
  font-size: calc(10px + 5vmax);
  margin: 10px;
  padding-left: 2vw;
  padding-right: 2vw;
  background-color: var(--option-button-bg-color);
  color: var(--text-color);
  border: none;
}

#message{
  font-size: calc(10px + 1.5vmax);
}